#event-logs {
  margin: 10px 5px;
  padding: 5px;

  .event-log {
    float: left;
    border: solid #aff99a 1px;
    background-color: #b4ff9f;
    border-radius: 3px;
    margin: 5px;
    padding: 5px;
  }
}